<h1 class="text-center m-3">PassGen</h1>

<form action="/" method="POST">
    <div class="form-group">
        <label for="passwordfor">Password for</label>
        <input type="text" name="passwordfor" class="form-control" placeholder="Ex: Google">
    </div>
    <div class="form-group">
        <label for="secret1">Seed 1</label>
        <input type="password" name="seed1" class="form-control" placeholder="Ex: Search">
    </div>
    <div class="form-group">
        <label for="secret2">Seed 2</label>
        <input type="password" name="seed2" class="form-control" placeholder="Ex: 123456">
    </div>
    <input type="submit" value="Generate" class="btn btn-primary btn-block">
</form>

{{#if password}}
<div class="card mt-3 text-center">
  <div class="card-body">
    <h5 class="card-title" id="password">{{password}}</h5>
    <button onclick="copy();" class="btn btn-secondary btn-sm" id="btn-copy">Copy to clipboard</button>
  </div>
</div>
{{/if}}

<script>
    function copy(){
        let el = document.createElement('textarea');
        el.value = document.getElementById('password').innerHTML;
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);

        document.getElementById('btn-copy').innerHTML = 'copied!';
    }
</script>